<table>
  <tr>
    <th>Nombre</th>
    <th>Color</th>
    <th>Id</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let list of products">
    <td>{{list.name}}</td>
    <td>{{list.color}}</td>
    <td>{{list.id}}</td>
    <td><button (click)="put(list.id ,list.name, list.color)"> Editar </button><button (click)="delete(list.id)" >Eliminar</button></td>
  </tr>
</table>


  <input type="text"   [(ngModel)]="name"  placeholder="name">
  <input type="text"   [(ngModel)]="color"  placeholder="color">
  <button (click)="add()">Agregar</button>






